@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary-blue:#137FEC;
  --color-primary-bg:#F6F7F8;
  --color-dark-green:#122B24;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-inter:var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

body {
  box-sizing: border-box;
  overflow: auto !important;
  scroll-behavior: smooth;
  /* background: var(--background);
  color: var(--foreground); */
    font-family: var(--font-inter),"system-ui", "sans-serif";

}

.herosection-box{
  height: calc(90vh - 80px);
}
