@import "tailwindcss";

/* Minimal base to complement Tailwind utilities */
* { box-sizing: border-box; }
html, body, #root { height: 100%; }
body {
  /* background-color: #0a0f12; */
  color: #d7e0e7;
  font-family: 'Montserrat', system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@theme{
  --color-primary-black:#0a0f12
}
.page-padding{
    padding-left:20px;
    padding-right:20px;
}
@media (min-width:640px) {
  .page-padding{
    padding-left:40px;
    padding-right:40px;
  }
}